/*----------------------------------------------*/
header {
    background-color: #fff;
    -webkit-box-shadow: 0 -10px 50px black;
            box-shadow: 0 -10px 50px black;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
}
header .wrap {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
header .wrap .header_body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
header .wrap .header_body .logo {
    text-decoration: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 25px 0;
    font-family: Dancing Script;
    color: #616161;
    font-size: 35px;
    font-weight: 700;
    outline: none;
    position: relative;
    z-index: 3;
}
header .wrap .header_body .logo span {
    color: #fc5f45;
}
header .wrap .header_body .burger {
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
    display: none;
    position: relative;
    z-index: 3;
}
header .wrap .header_body .burger span {
    background-color: #616161;
    height: 2px;
    width: 25px;
    margin: 4px 0;
    display: block;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
header .wrap .header_body .header_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
header .wrap .header_body .header_menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
header .wrap .header_body .header_menu ul li {
    padding-right: 20px;
}
header .wrap .header_body .header_menu ul li:last-child {
    padding-right: 0;
}
header .wrap .header_body .header_menu ul li a {
    font-family: poppins;
    font-size: 14px;
    font-weight: 500;
    color: #616161;
    text-decoration: none;
    outline: none;
}
header .wrap .header_body .header_menu ul li:hover a {
    -webkit-transition: 0.25s;
    transition: 0.25s;
    color: #fc5f45;
}

/*----MEDIA-------------------------------------*/
@media (max-width: 865px) {
    body.lock {
        overflow: hidden;
    }

    header:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 2;
    }
    header .wrap .header_body .logo {
        margin: 10px 0;
        font-size: 28px;
    }
    header .wrap .header_body .burger {
        display: block;
    }
    header .wrap .header_body .burger.active span:nth-child(1) {
        -webkit-transform: rotate(45deg) translate(0, 4px);
                transform: rotate(45deg) translate(0, 4px);
    }
    header .wrap .header_body .burger.active span:nth-child(2) {
        display: none;
    }
    header .wrap .header_body .burger.active span:nth-child(3) {
        -webkit-transform: rotate(-45deg) translate(0, -4px);
                transform: rotate(-45deg) translate(0, -4px);
    }
    header .wrap .header_body .header_menu {
        display: block;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #3f4049;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding: 70px 15px 20px;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        overflow: auto;
    }
    header .wrap .header_body .header_menu ul {
        display: block;
    }
    header .wrap .header_body .header_menu ul li {
        padding-right: 0;
        text-align: center;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border-bottom: 1px solid rgba(97, 97, 97, 0.5);
    }
    header .wrap .header_body .header_menu ul li:last-child {
        border: none;
    }
    header .wrap .header_body .header_menu ul li a {
        display: block;
        padding: 15px 0;
        color: #fff;
    }
    header .wrap .header_body .header_menu.active {
        top: 0;
    }
}